<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {
            $(".loginContainer").hide().fadeIn(1000);
        });
    </script>
</head>
<body>
    <div class="loginContainer">
        <input type="text" class="inputText" value="Nickname" />
        <a href="CrashBall.html">
            <div class="buttonContainer">
                <img src="../Content/Images/buttonClicked.png" />
            </div>
        </a>
    </div>
</body>
</html>
